# CLP Knowledge Base - Azure DevOps Pipeline

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    exclude:
      - '*.md'
      - 'docs/**'

pr:
  branches:
    include:
      - main
      - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: clp-kb-variables
  - name: nodeVersion
    value: '18.x'
  - name: pythonVersion
    value: '3.11'
  - name: terraformVersion
    value: '1.5.7'

stages:
  # =============================================================================
  # BUILD STAGE
  # =============================================================================
  - stage: Build
    displayName: 'Build & Test'
    jobs:
      # Next.js Management Console
      - job: BuildConsole
        displayName: 'Build Management Console'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: $(nodeVersion)
            displayName: 'Install Node.js'

          - script: |
              npm ci
              npm run lint
              npm run build
            displayName: 'Install, Lint & Build'

          - script: npm run test -- --coverage --passWithNoTests
            displayName: 'Run Tests'

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/junit.xml'
            condition: always()
            displayName: 'Publish Test Results'

          - task: PublishCodeCoverageResults@1
            inputs:
              codeCoverageTool: 'Cobertura'
              summaryFileLocation: '$(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml'
            condition: always()
            displayName: 'Publish Code Coverage'

          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: '.next'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(Build.ArtifactStagingDirectory)/console.zip'
            displayName: 'Archive Console Build'

          - publish: $(Build.ArtifactStagingDirectory)/console.zip
            artifact: console
            displayName: 'Publish Console Artifact'

      # Python Functions & API
      - job: BuildPython
        displayName: 'Build Python Services'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: $(pythonVersion)
            displayName: 'Use Python $(pythonVersion)'

          - script: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: 'Install Dependencies'

          - script: |
              pip install black pylint mypy
              black --check src/
              pylint src/ --fail-under=7
            displayName: 'Lint Python Code'

          - script: |
              pip install pytest pytest-cov
              pytest tests/unit/ --cov=src --cov-report=xml --junitxml=test-results.xml
            displayName: 'Run Unit Tests'

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: 'test-results.xml'
            condition: always()
            displayName: 'Publish Test Results'

          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: 'src/'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(Build.ArtifactStagingDirectory)/functions.zip'
            displayName: 'Archive Functions'

          - publish: $(Build.ArtifactStagingDirectory)/functions.zip
            artifact: functions
            displayName: 'Publish Functions Artifact'

  # =============================================================================
  # INFRASTRUCTURE STAGE
  # =============================================================================
  - stage: Infrastructure
    displayName: 'Infrastructure (Terraform)'
    dependsOn: Build
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - job: TerraformPlan
        displayName: 'Terraform Plan'
        steps:
          - task: TerraformInstaller@0
            inputs:
              terraformVersion: $(terraformVersion)
            displayName: 'Install Terraform'

          - task: TerraformTaskV4@4
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'
              backendServiceArm: 'Azure-Service-Connection'
              backendAzureRmResourceGroupName: 'rg-clp-kb-tfstate'
              backendAzureRmStorageAccountName: 'stclpkbtfstate'
              backendAzureRmContainerName: 'tfstate'
              backendAzureRmKey: 'clp-kb.tfstate'
            displayName: 'Terraform Init'

          - task: TerraformTaskV4@4
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'
              environmentServiceNameAzureRM: 'Azure-Service-Connection'
              commandOptions: '-out=tfplan -var-file="environments/$(environment)/terraform.tfvars"'
            displayName: 'Terraform Plan'

          - publish: $(System.DefaultWorkingDirectory)/infra/tfplan
            artifact: tfplan
            displayName: 'Publish Terraform Plan'

      - job: TerraformApply
        displayName: 'Terraform Apply'
        dependsOn: TerraformPlan
        condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
        environment: 'Production'
        steps:
          - download: current
            artifact: tfplan

          - task: TerraformInstaller@0
            inputs:
              terraformVersion: $(terraformVersion)
            displayName: 'Install Terraform'

          - task: TerraformTaskV4@4
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'
              backendServiceArm: 'Azure-Service-Connection'
              backendAzureRmResourceGroupName: 'rg-clp-kb-tfstate'
              backendAzureRmStorageAccountName: 'stclpkbtfstate'
              backendAzureRmContainerName: 'tfstate'
              backendAzureRmKey: 'clp-kb.tfstate'
            displayName: 'Terraform Init'

          - task: TerraformTaskV4@4
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'
              environmentServiceNameAzureRM: 'Azure-Service-Connection'
              commandOptions: '$(Pipeline.Workspace)/tfplan/tfplan'
            displayName: 'Terraform Apply'

  # =============================================================================
  # DEPLOY STAGE - DEV
  # =============================================================================
  - stage: DeployDev
    displayName: 'Deploy to Dev'
    dependsOn: Build
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/develop'))
    jobs:
      - deployment: DeployConsoleDev
        displayName: 'Deploy Console to Dev'
        environment: 'Development'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebApp@1
                  inputs:
                    azureSubscription: 'Azure-Service-Connection'
                    appType: 'webAppLinux'
                    appName: 'app-console-clp-kb-dev'
                    package: '$(Pipeline.Workspace)/console/console.zip'
                  displayName: 'Deploy Console'

      - deployment: DeployFunctionsDev
        displayName: 'Deploy Functions to Dev'
        environment: 'Development'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureFunctionApp@2
                  inputs:
                    azureSubscription: 'Azure-Service-Connection'
                    appType: 'functionAppLinux'
                    appName: 'func-ingestion-clp-kb-dev'
                    package: '$(Pipeline.Workspace)/functions/functions.zip'
                  displayName: 'Deploy Functions'

  # =============================================================================
  # DEPLOY STAGE - PROD
  # =============================================================================
  - stage: DeployProd
    displayName: 'Deploy to Production'
    dependsOn: 
      - Build
      - Infrastructure
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - deployment: DeployConsoleProd
        displayName: 'Deploy Console to Prod'
        environment: 'Production'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebApp@1
                  inputs:
                    azureSubscription: 'Azure-Service-Connection'
                    appType: 'webAppLinux'
                    appName: 'app-console-clp-kb-prod'
                    package: '$(Pipeline.Workspace)/console/console.zip'
                  displayName: 'Deploy Console'

      - deployment: DeployFunctionsProd
        displayName: 'Deploy Functions to Prod'
        environment: 'Production'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureFunctionApp@2
                  inputs:
                    azureSubscription: 'Azure-Service-Connection'
                    appType: 'functionAppLinux'
                    appName: 'func-ingestion-clp-kb-prod'
                    package: '$(Pipeline.Workspace)/functions/functions.zip'
                  displayName: 'Deploy Functions'